#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  .article-list {
    flex: none;
    width: 250px;
  }
  .content {
    flex: 0 1 100%;
  }
}