@import './globals.scss';

#app {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  .article-list {
    flex: none;
    width: 200px;
  }
  .content {
    flex: 0 1 100%;
    display: flex;
    height: 100vh;
    .akd-article {
      flex: 0 1 100%;
    }
    .code-block {
      width: 500px;
      flex: none;
    }
  }
}