@import 'globals.scss';

.article-list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(#434343, 0.85);
  color: #f0f0f0;
  text-align: left;
  font-size: 14px;
  .list-item {
    padding: 10px;
    .title {
      text-transform: uppercase;
      font-family: sans-serif;
      letter-spacing: 0.5px;
      margin: 10px 0;
    }
    .list {
      font-family: $font;
      padding-bottom: 10px;
    }
  }
}