@import 'globals.scss';

.article-list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(#434343, 0.85);
  color: #f0f0f0;
  .list-item {
    padding: 10px;
    .title {
      text-transform: uppercase;
      font-family: serif;
      letter-spacing: 0.5px;
    }
    .list {
      font-family: $font;
    }
  }
}