@import 'globals.scss';

.akd-article {
  padding-left: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  .paragraph {
    padding-right: 40px;
    margin: 1em 0;
    text-align: left;
    font-size: 20px;
    line-height: 33px;
  }
  
  .image {
    
  }
}