@import "globals.scss";

.code-block {
  // background-color: $editor-black;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  pre {
    margin: 0;
    code {
      padding-left: 20px;
      overflow-x: hidden;
      width: 100%;
    }
  }
}