@import "globals.scss";

.code-block {
  // background-color: $editor-black;
  text-align: left;
  overflow: auto;
  height: 100vh;
  pre {
    margin: 0;
    code {
      height: 100%;
      padding-left: 20px;
    }
  }
}