@import "globals.scss";

.code-container {
  &:hover {
    .one-click-copy {
      opacity: 0.75;
    }
  }
}

.code-block {
  background-color: #23241f;
  height: 100%;
  overflow: auto;
  text-align: left;
  pre {
    margin: 0;
    code {
      padding-left: 20px;
      overflow: visible;
      min-height: 100vh;
      background: none;
    }
  }
}

.one-click-copy {
  position: absolute;
  top: 0;
  right: 0;
  outline: 0;
  border: 2px solid #f0f0f0;
  padding: 10px;
  margin: 10px 24px;
  border-radius: 6px;
  background: #434343;
  opacity: 0;
  cursor: pointer;
  color: #f0f0f0;
  font-size: 14px;
  font-family: sans-serif;
  img {
    width: 24px;
    height: auto;
  }
  &:hover {
    opacity: 0.95;
  }
}
