.photo {
  margin: 2em auto;
  text-align: center;
  .lg {
    width: auto;
    height: auto;
    max-width: calc(100% - 40px);
  }
  .sm {
    width: 100%;
    height: auto;
  }
  .label {
    font-weight: bold;
    font-style: italic;
    margin: 0;
    margin-top: 0.5em;
  }
}