@import "globals.scss";

.article-list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #606060;
  color: #f0f0f0;
  text-align: left;
  font-size: 14px;
  .list-item {
    padding: 10px;
    text-overflow: ellipsis;
    .title {
      text-transform: uppercase;
      font-family: sans-serif;
      letter-spacing: 0.5px;
      margin: 10px 0;
    }
    a {
      color: #f0f0f0;
      cursor: pointer;
      text-decoration: none;
      .list {
        font-family: $font;
        padding-bottom: 8px;
        font-size: 16px;
        position: relative;
      }
    }
  }
}
