.inline-code-container {
  width: calc(100% - 40px);
  position: relative;
  .one-click-copy {
    opacity: 0;
  }
  &:hover {
    .one-click-copy {
      opacity: 0.65;
      &:hover {
        background: #434343;
        opacity: 0.95;
      }
    }
  }
}

.inline-code-block {
  background-color: #23241f;
  width: 100%;
  height: auto;
  overflow: auto;
  text-align: left;
  pre {
    margin: 0;
    code {
      padding-left: 20px;
      overflow: visible;
      background: none;
    }
  }
}

.mobile {
  .inline-code-container {
    width: calc(100vw - 40px);
    .inline-code-block {
      pre, code {
        white-space: pre;
        overflow-x: scrol
      }
      .hljs {
        overflow-x: scroll;
      }
    }
  }
}
