.photo {
  margin: 2.5em auto;
  text-align: center;
  img, source {
    width: auto;
    height: auto;
    max-width: calc(100% - 40px);
  }
  .label {
    line-height: 1.4;
    color: #535353;
    margin: 0;
    margin-top: 0.5em;
    font-size: 16px;
  }
}

.mobile {
  .photo {
    text-align: left;
    img, source {
      max-width: calc(100% - 20px);
    }
  }
  .label {
    text-align: center;
    width: calc(100% - 20px);
  }
}